<template>
    <div class="media answer">
        <div class="media-left">
            <a :href="'/user/' + answer.user.id">
                <img :src="'/avatars/' + answer.user.profile.avatar" alt="" class="img-circle media-object" width="25px" height="25px">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a :href="'/user/' + answer.user.id">{{ answer.user.name }}</a></h4>
            <block-button :id="answer.id" type="answer" v-if="isAdmin"></block-button>
            <p>{{ answer.content }}</p>

            <like :answer-id="answer.id"></like>
            <a class="" :href="'/answer/delete/' + answer.id" v-if="authUserId === answer.user.id" @click.stop.prevent="deleteAnswer">Удалить ответ</a>
            <br>

        </div>
    </div>
</template>

<script>
    export default {
        props: ['answer', 'authUserId', 'isAdmin'],
        methods: {
            deleteAnswer: function() {
                axios.get('/answer/delete/' + this.answer.id)
                    .then( (resp) => {
                        this.$emit('deleteAnswer', this.answer.id)
                    })
            },
        }
    }
</script>
