<template>
<div>
    <answer v-for="answer in answers" 
        :key="answer.id"
        :answer="answer"
        :auth-user-id="authUser.id"
        :is-admin="isAdmin"
        v-on:deleteAnswer="deleteAnswer">
    </answer>
    <answer-creator :question-id="questionId" v-on:addAnswer="addAnswer"></answer-creator>
</div>
</template>

<script>
    export default {
        mounted: function() {
            this.getAuthUserData()
            this.getAnswers()
        },
        data: function() {
            return {
                authUser: '',
                isAdmin: false,
                answers: []
            }
        },
        props: ['questionId'],
        methods: {
            getAnswers: function () {
                axios.get('/answers/' + this.questionId)
                    .then( (resp) => {
                        this.answers = resp.data
                    })
            },
            getAuthUserData: function () {
                axios.get('/get_user_auth_data')
                    .then( (resp) => {
                        this.authUser = resp.data
                        this.checkAdmin()
                    })
            },

            addAnswer: function ($newAnswer) {
                this.answers.push($newAnswer)
            },

            deleteAnswer: function($answerId) {
                this.answers = this.answers.filter( (a) => {
                    return a.id !== $answerId
                })
            },
            
            checkAdmin: function() {
                if (this.$store.state.auth_user) {
                    this.authUser.roles.forEach((role) => {
                        if (role.name === 'administrator')
                            this.isAdmin = true
                    })
                }
            }
        }
    }
</script>

<style>
    .answer {
        border-bottom: 1px solid lightgrey;
    }
</style>

