<template>
<div class="answer-create">
    <div v-if="!this.$store.state.auth_user">
        Залогиньтесь или зарегистрируйтесь
    </div>
    <div v-else-if="blocked">
        Вы заблокированы и не можете писать ответы
    </div>
    <div class="panel panel-default" v-else>
        <div class="panel-heading">
            Ваш ответ на вопрос
        </div>
        <div class="panel-body">
            <textarea rows="5" class="form-control" v-model="content"></textarea>
            <br>
            <button class="btn btn-success pull-right" @click="createAnswer()">Ответить</button>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        mounted: function () {
            this.isUserBlocked()
        },
        props: ['questionId'],
        data() {
            return {
                content: '',
                blocked: false
            }
        },
        methods: {
            createAnswer: function () {
                axios.post('/create/answer', { 
                        content: this.content,
                        question_id: this.questionId
                    })
                    .then( (resp) => {
                        this.$emit('addAnswer', resp.data)
                        this.content = ''
                    })
            },

            isUserBlocked: function () {
                 axios.get('/is_blocked/user/authenticated')
                    .then( (resp) => {
                        if (resp.data)
                            this.blocked = true
                        else
                            this.blocked = false
                    })
            }
        }
    }
</script>

<style>
    .answer-create {
        margin-top: 15px;
    }
</style>
