<template>
    <div>
        <div v-if="!is_blocked">
            <a v-if="this.type === 'question'" class="btn btn-danger pull-right" @click="block()">
                Заблокировать вопрос
            </a>
            <a v-if="this.type === 'answer'" class="btn btn-danger btn-sm pull-right" @click="block()">
                Заблокировать ответ
            </a>
            <a v-if="this.type === 'user'" class="btn btn-danger pull-right" @click="block()">
                Заблокировать пользователя
            </a>
        </div>
        <div v-else>
            <a v-if="this.type === 'question'" class="btn btn-danger pull-right" @click="unblock()">
                Разблокировать вопрос
            </a>
            <a v-if="this.type === 'answer'" class="btn btn-danger btn-sm pull-right" @click="unblock()">
                Разблокировать ответ
            </a>
            <a v-if="this.type === 'user'" class="btn btn-danger pull-right" @click="unblock()">
                Разблокировать пользователя
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.get_is_blocked()
        },
        data() {
            return {
                is_blocked: false
            }
        },
        props: ['type', 'id'],
        methods: {
            block: function () {
                axios.get('/block/' + this.type + '/' + this.id)
                     .then( (resp) => {
                         this.is_blocked = true;
                     })
            },

            unblock: function () {
                axios.get('/unblock/' + this.type + '/' + this.id)
                     .then( (resp) => {
                         this.is_blocked = false;
                     })
            },

            get_is_blocked: function() {
                axios.get('/is_blocked/' + this.type + '/' + this.id)
                    .then( (resp) => {
                        if (resp.data)
                            this.is_blocked = true
                        else
                            this.is_blocked = false
                    })
            }
        }
    }
</script>
