<template>
    <div>
        <div v-if="this.$store.state.auth_user">
            <a class="btn btn-xs btn-default" @click="like" v-if="!is_auth_user_liked">Нравится <span class="badge">{{ this.likes_count }}</span></a>
            <a class="btn btn-xs btn-success" @click="unlike" v-else>Вам нравится <span class="badge">{{ this.likes_count }}</span></a>
        </div>
        <div v-else>
            Залогиньтесь, чтобы отметить понравившийся ответ
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.is_user_liked()
            this.get_likes_count()
        },
        props: ['answerId'],
        data() {
            return {
                is_auth_user_liked: false,
                likes_count: 0
            }
            
        },
        methods: {
            like: function() {
                axios.get('/answer/like/' + this.answerId)
                    .then( (resp) => {
                        if (resp.data) {
                            this.is_auth_user_liked = true
                            this.likes_count += 1
                        }
                    })
            },

            unlike: function() {
                axios.get('/answer/unlike/' + this.answerId)
                    .then( (resp) => {
                        this.is_auth_user_liked = false
                        this.likes_count -= 1 
                    })
                
            },

            is_user_liked: function() {
                axios.get('/answer/is_user_liked/' + this.answerId)
                     .then( (resp) => {
                         if (resp.data)
                             this.is_auth_user_liked = true
                         else
                             this.is_auth_user_liked = false
                     })
            },

            get_likes_count: function() {
                axios.get('/answer/likes/count/' + this.answerId)
                     .then( (resp) => {
                         this.likes_count = resp.data;
                     })
            }
            
        }
    }
</script>
